/* src/components/HelpModal.css */

.help-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is on top of other content */
}

.help-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: left;
  z-index: 1001; /* Higher than the overlay to ensure visibility */
}

.garnish-drink-list {
  display: flex;
  justify-content: space-between;
}

.garnishes, .drinks {
  list-style-type: decimal;
}

.level-buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.level-buttons button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.level-buttons button:hover {
  background-color: #45a049;
}

.close-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #e53935;
}
