/* src/App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #e7be0c; /* Add background color */
  min-height: 100vh; /* Ensure the background covers the whole viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.timer {
  font-size: 24px;
  margin-bottom: 20px;
  color: #555;
}

.restart-button,
.help-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

.restart-button:hover,
.help-button:hover {
  background-color: #45a049;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .game-board {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
